contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
packaging==23.1
pyglet==2.0.9
pyparsing==3.0.9
pytz==2023.3.post1
six==1.16.0
tzdata==2023.3
pytest>=6.0
pytest-cov>=2.0
mypy>=0.910
flake8>=3.9
tox>=3.24
